NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173
FRONTEND_URL_PROD=https://easy-bike-ten.vercel.app
BACKEND_URL_PUBLICA=https://easy-bike-pwsd.onrender.com
RUTA_CONFIRMACION_FRONTEND=/#/confirmar-cuenta
MODO_DATOS=memoria
DATABASE_URL=
DATABASE_URL_POOLER=
DB_SSL=true
SUPABASE_PROJECT_REF=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=
JWT_REFRESH_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
MAIL_FROM_NAME=
MAIL_FROM_EMAIL=
CONTACT_DESTINATION_EMAIL=de575836@gmail.com
